
body {
	font: 80%/1 Verdana, sans-serif;
}

table{
	width: 50%;
	border-collapse:collapse;
	
}


th {
	font-weight: bold;
	border: 1px solid #000000;
	padding: 10px;
	
}

td {
	border: 1px solid #000000;
	padding: 10px;
}

fieldset {
  padding: 2em;
  width: 50%;	
  }
label {
  
  margin-right:0.5em;
  padding:0.2em;
  text-align:right;
  
  }