<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UseLocations</key>
	<true/>
	<key>PostMail</key>
	<true/>
	<key>PostMailAddresses</key>
	<array/>
	<key>ScalePhotosBeforeUploading</key>
	<true/>
</dict>
</plist>
