<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ariadnanorberg.notes1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowNotes"
            android:label="@string/show_notes_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ariadnanorberg.notes1.MainActivity" />
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="WsCxdr90gpqXO5rPQ6FvVJE46X8Tghr48sEUMaDN" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="qessDyZkCChhXdKo6BZRhiFk8ZHaKPjJEQDMhVin" />

        <activity
            android:name=".EditNoteActivity"
            android:label="@string/title_activity_edit_note" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.echessa.noteapp.ShowNotes" />
        </activity>
    </application>

</manifest>
